{
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "safari": "10"
                },
                "useBuiltIns": "usage",
                "corejs": "3.0"
            }
        ]
    ]
}
